<h1>
	<%= @seller.name %>
</h1>

<%= link_to "My places", "#" %>
<hr/>

<%= link_to "My campaigns", "#" %>
<hr/>

<%= link_to "Insights", "#" %>
<hr/>

<%= link_to "Add a user", "#" %>
<hr/>

<%= link_to "Accounts & settings", "#" %>
<hr/>

<%= link_to "Templates", "#" %>
<hr/>

<%= link_to "APIs", "#" %>
<hr/>

