<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>OnTheGo - Find places of interest around you</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Source+Sans+Pro:200|Squada+One" rel="stylesheet" type="text/css">

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
	
  	<%= render 'layouts/shim' %>

</head>

<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
    </div>

		
</body>
</html>







